.ads-details > p , .sale-status{
  padding: 0;
  margin: 0;
  color: #333;
  font-weight: 300;
  font-size: 16px;
}

.ads-details > p > span, .sale-status {
  cursor: pointer;
}

.user-name {
  font-size: 16px;
  font-weight: bold;
}

.user-id {
  font-size: 12px;
  font-weight: 300;
  color: #808080;
}

.sale-status > a{
  color: #808080;
  text-decoration: none;
}

.sale-status :hover {
  color: #007bff
}

.profile-page {
  margin-bottom: 10rem;
}

.profile-ads_btn {
  width:'100%';
  font-size: 14px;
  font-weight: 300;
}
